<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DB_ConnectionString" connectionString="Data Source=10.10.2.63;Initial Catalog=dashboard;Integrated Security=True;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
      <add key="FinancetableName" value="Finance_TT"/>
	  <add key="ROMastertableName" value="RO_Master"/>
	  <add key="ProfitLosttableName" value="FinancialStatement"/>
	  <add key="AccReceivabletableName" value="Accounts_Receivable"/>
	  <add key="AccPayabletableName" value="Accounts_Payable"/>
	  <add key="Finance_Source2" value="Finance_Source2"/>

	  
	  <add key="AllowToRunAura" value="false"/>
	  <add key="AllowToRunProfitLost" value="false"/>
	  <add key="AllowToRunAuraGroup" value="false"/>
	  <add key="AllowToRunElegenciPal" value="false"/>
	  <add key="AllowToRunYemek" value="false"/>
	  <add key="AllowToRunRO_Master" value="false"/>
	  <add key="AllowToRunFFM" value="false"/>
      <add key="AllowToRunMeasurements_Master" value="false"/>
	  <add key="AllowToRunConditions_Master" value="false"/>
      <add key="AllowToRunOccupancy" value="false"/>
	  <add key="AllowToRunCashflow" value="false"/>
	  <add key="AllowToRunProfitabilty" value="false"/>
	  <add key="AllowToRunAccReceivable" value="false"/>
	  <add key="AllowToRunAccPayable" value="false"/>
	  <add key="AllowToRunFS2" value="true"/>

	  
	  <add key="AurafilePath" value="\\10.10.1.233\PH-SAPShare\Quality\Finance - seperate lines.csv"/>
	  <add key="AuragroupfilePath" value="\\10.10.1.233\PH-SAPShare\temp\Aura Group.txt"/>
	  <add key="ElegenciPalfilePath" value="\\10.10.1.233\PH-SAPShare\temp\Elegencia Palmera.txt"/>
	  <add key="YemekfilePath" value="\\10.10.1.233\PH-SAPShare\temp\Yemek2.txt"/>
	  <add key="RO_MasterfilePath" value="\\10.10.1.233\PH-SAPShare\Assets - RO Master.txt"/>
	  <add key="FFMfilePath" value="\\10.10.1.233\PH-SAPShare\temp\Assets - Fixtures Fittings Master.txt"/>
	  <add key="Measurements_MasterfilePath" value="\\10.10.1.233\PH-SAPShare\temp\Assets - Measurements Master.txt"/>
	  <add key="Conditions_MasterfilePath" value="\\10.10.1.233\PH-SAPShare\temp\Assets - Conditions Master.txt"/>
	  <add key="OccupancyfilePath" value="\\10.10.1.233\PH-SAPShare\temp\Assets - Occupancy.txt"/>
	  <add key="CashflowfilePath" value="\\10.10.1.233\PH-SAPShare\temp\Assets - Cashflow.txt"/>
	  <add key="ProfitabiltyfilePath" value="\\10.10.1.233\PH-SAPShare\temp\Assets - Profitabilty.txt"/>
	  <add key="AccReceivablefilePath" value="\\10.10.1.233\PH-SAPShare\Accounts Receivable.csv"/>
	  <add key="AccPayablefilePath" value="\\10.10.1.233\PH-SAPShare\Accounts Payable.csv"/>
	  <add key="ProfitLossfilePath" value="\\10.10.1.233\PH-SAPShare\pnl.csv"/>
	  <add key="FS2filePath" value="C:\Users\i.ahmed\new source EXPORT.xlsx"/>

	  
    <add key="filePathOld" value="C:\Users\i.ahmed\Desktop\ImportToSql\Hospitality Data.csv"/>
    <add key="LogDirectory" value="C:\Users\i.ahmed\Desktop\ImportToSql\"/>
    <add key="password" value="passX"/>
  </appSettings>
</configuration>
