<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DB_ConnectionString" connectionString="Data Source=10.10.2.63;Initial Catalog=dashboard;Integrated Security=True;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="FinancetableName" value="Finance"/>
	<add key="ProfitLosttableName" value="FinancialStatement"/>

    <add key="FinancefilePath" value="\\10.10.1.233\PH-SAPShare\march.csv"/>
	<add key="ProfitLossfilePath" value="\\10.10.1.233\PH-SAPShare\pnl.csv"/>
    <add key="filePathOld" value="C:\Users\i.ahmed\Desktop\ImportToSql\Hospitality Data.csv"/>
    <add key="LogDirectory" value="C:\Users\i.ahmed\Desktop\ImportToSql\"/>
    <add key="password" value="passX"/>
  </appSettings>
</configuration>
